# Git
.git
.gitignore
.dockerignore

# Virtual Environment
.venv/
venv/

# Python Cache & Build
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.env*

# OS & Editor
.DS_Store
.vscode/

# Logs
*.log
