# Virtual Environment
.venv/
venv/

# Python Cache & Build
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.env*
!.env.example

# Docker Volume Data
db/**/data/ 

# OS & Editor
.DS_Store
.vscode/

# Logs
*.log